.main1 {
    text-align: center;
}

.main2 {
    text-align: center;
}

img {   
    max-width: 100%;   
    height: auto;  
} 

@media screen and (max-width: 5000px) {
	.main{ 
	   width: 100%;
	   background-color:rgb(177, 168, 255);
       height: auto;
	}
}

@media screen and (max-width: 768px) {
	.main{ 
	   width: 100%;
	   background-color:rgb(125, 233, 243);
       height: auto;
	}
}

@media screen and (max-width: 520px) {
	.main{ 
	   width: 100%;
	   background-color:rgb(238, 246, 166);
       height: auto;
	}
}


